.period{
    color: #2c3e50a8;
    font-size: larger;
    font-weight: 700;
}

.header{
    gap:5px;
}
.title{
    display: flex;
    p{
        margin: 0 5px .75em;
    }
}

ul{
    margin: 0 0 10px 0;
}