<!-- src/app/cv/cv.component.html -->
<div class="cv-container" id="cv">
  <!-- Sidebar for Personal Information -->
  <div class="sidebar">
    <app-personal-info [personalInfo]="cv.personalInfo"></app-personal-info>
    <h2>Languages</h2>
    <ul>
      @for(language of cv.personalInfo.languages; track language){
        <app-language [language]="language"></app-language>
      }
    </ul>
      <!-- Skills -->
      <div >
        <div class="card-header">
          <fa-icon [icon]="faDumbbell"></fa-icon><h2>Skills</h2>
        </div>
        <ul>
          @for(skill of cv.skills; track skill){
            <li  >
              <app-skills [skill]="skill"></app-skills>
            </li>
          }
        </ul>
      </div>
  </div>
  <!-- Main Content -->
  <div class="main-content">
    <!-- Experience -->
    <div class="container">
      <div class="left-column">
        <div class="card">
          <div class="card-header">
            <fa-icon [icon]="brefcase"></fa-icon><h2>Experience</h2>
          </div>
          @for(exp of cv.experience; track exp){
            <app-experience [experience]="exp"></app-experience>
          }
        </div>
      </div>
      <div class="right-column">    
        <!-- Education -->
        <div class="card">
          <div class="card-header">
            <fa-icon [icon]="faUserGraduate"></fa-icon><h2>Education</h2>
          </div>
          @for(edu of cv.education; track edu){
            <app-education [education]="edu"></app-education>
          }
        </div>
        <div class="card">
          <div class="card-header">
            <fa-icon [icon]="faShieldBlank"></fa-icon><h2>Military</h2>
          </div>
          <ul>
            @for(military of cv.military; track military){
              <li  >
                <app-military [military]="military"></app-military>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="exportPdf()">Export to PDF</button>
